<template>
    <div class="frequency-display">
        <h3>List of words</h3>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Word</th>
                    <th scope="col">Count</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(word,key) in words" :key="key">
                    <th scope="row">{{key + 1}}</th>
                    <td>{{word.word}}</td>
                    <td>{{word.count}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</template>

<script>

export default {
    props: {
        words: {
            
        }
    },
    created: () => {
        
    }
}
</script>

