<template>
    <div class="frequency-calculate">
        <h3>Fetch the Most N Frequently used words</h3>
        <br>
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <form @submit.prevent="formSubmitted">

                    <div class="form-group">
                        <label for="num-mf">Enter Number</label>
                        <input type="number" class="form-control" id="num-mf" aria-describedby="numMf" placeholder="Enter Number" v-model="num" :class="{'is-invalid': isError}">
                        <small class="form-text text-muted">List the N most frequently used words</small>
                        <small class="invalid-feedback" v-if="isError">Enter valid number</small>
                    </div>
                    <!-- <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                    <button type="submit" class="btn btn-primary">Fetch</button>
                </form>
            </div>
        </div>

        <br>
        <hr>
        <br>

        <frequency-calculate-display :words="words"></frequency-calculate-display>
    </div>
</template>

<script>
import {frequencyCount} from "./../config"

import FrequencyCalculateDisplay from './FreqencyCalculateDisplay.vue'
export default {

    data: () => {
        return {
            num: 0,
            isError: false,
            words: [],
        }
    },

    components: {
        FrequencyCalculateDisplay
    },

    methods: {
        formSubmitted: function () {
            this.isError = false
            if (this.num > 0) {
                this.retrieveCount(this.num)
            } else {
                this.isError = true
            }
        },

        retrieveCount: function (length){
            let postData = {
                length
            }

            this.$http.post(frequencyCount, postData).then((response) => {
                this.words = response.data.wordsCountSorted
            })
        }
    }
}
</script>


