<template>
  <div id="app" class="container">
    <frequency-calculate-form></frequency-calculate-form>
  </div>
</template>

<script>
import FrequencyCalculateForm from "./components/FrequencyCalculateForm.vue"
export default {
  name: 'app',
  components: {
    FrequencyCalculateForm
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
